.contact-image {
    width: 100%;
    object-fit: cover;
}
.form-container .form-section textarea {
    height: 250px;
    resize: none;
}

.form-container label, .form-container .form-section input, .form-container .form-section textarea {
    font-size: 1.1em;
}

.send-button {
    text-transform: uppercase;
    background: #000;
    outline: none;
    border: none;
    padding: .5em;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}
@media (max-width: 1023px) {
    .contact-image {
        height: 300px;
    }
    .form-container {
        width: 90%;
        margin: auto;
    }
    .form-section {
        margin: 2em 0;
    }
    .form-container label {
        display: block;
        text-align: center;
        padding: 1em;
    }
    .form-container .form-section input, textarea {
        width: 100%;
        padding: 0.5em;
    }
    .send-button {
        width: 100%;
        margin-bottom: 2em;
        border-radius: 10px;
    }
}

@media (min-width: 1024px) {
    .contact-image-container {
        width: 90%;
        margin: auto;
    }
    .form-container {
        width: 85%;
        margin: auto;
        transform: translateY(-60px);
        background: white;
        padding: 2em;
    }
    .form-section {
        display: flex;
        margin: 2em 0;
    }
    .form-container label {
        width: 5%;
        margin-left: 5%;
        text-align: right;
        padding-top: .5em;
    }
    .form-container .form-section input, textarea {
        width: 80%;
        margin: 0 5% 0 2em;
        padding: .5em;
        outline: none;
        border: 1px solid gray;
    }   
    .send-button {
        width: 10%;
        margin-left: 5%;
    }
}